body{
    background-size: cover;
    max-width: 100%;
    background-color: beige;
}
.parent{
    text-align: center;
    position: relative;
    top: 150px;
}
.counter h1{
    font-size: 50px;
    /* padding: 8px; */
    /* margin: 0; */
}
#value{
    font-size: 60px;
}
.buttons{
    display: inline-flex;
    margin: 0%;
}
.buttons button{
    font-size: 20px;
    border-radius: 8px;
}
.button{
    padding: 8px;
}
.decrease:hover{
    background-color: black;
    color: white;
}
.reset:hover{
    background-color: black;
    color: white;
}
.increase:hover{
    background-color: black;
    color: white;
}